<html>
  <head>
    <meta charset="utf-8" />
    <title>MCB Select Context Page</title>
  </head>

  <body>
    
              <form id="login" action="$actionUrl" method="post">

              <h3>
                Log in with method
              </h3>

              #if ($upgradeAuth == "true")
              <h4>You must upgrade your authentication</h4>
              #end
    #if ($forceReAuth == "true")
        <h4>You must re-authenticate per relying party request.</h4>
    #end

              <select id="selectedmethod" name="selectedmethod" size="5">
              #foreach ($method in $methodList)
                #if ($method.isSatisfied() == true)
                    <option value="$method.getName()">$method.getContent() (Already Satisfied)</option>
                #else
                    <option value="$method.getName()">$method.getContent()</option>
                #end
              #end
              </select>
                <p />
              <input type="submit" value="Continue" />
           </form>


    
  </body>
</html>
